<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'todoapp/index.css' %}">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li class="sidebar-button"><a href="/todoapp/">Home</a></li>
        </ul>
        <ul>
            {% if user.is_authenticated %}
                <li class="sidebar-button">User: {{ user.get_username }}</li>
                <li class="sidebar-button"><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
            {% else %}
                <li class="sidebar-button"><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
            {% endif %}
        </ul>
            {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>