<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'todoapp/index.css' %}">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li style="margin-bottom: 5px;">
                <form action="/" method="get">
                    <input class="button" id="sidebar-button" type="submit" value="Home">
                </form>
            </li>
            
            {% if user.is_authenticated %}
                <li class="button" id="sidebar-username">User: {{ user.get_username }}</li>
                
                <li style="margin-top: 5px;">
                    <form  action="{% url 'logout' %}?next={{ request.path }}" method="post">
                        {% csrf_token %}
                        <input class="bad-button" type="submit" value="Log out">
                    </form>
                </li>
            {% else %}
                <li>
                    <form action="{% url 'login' %}?next={{ request.path }}" method="get">
                        <input class="button" id="sidebar-button" type="submit" value="Log in">
                    </form>
                </li>
            {% endif %}
        </ul>
            {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>