{% extends "base_generic.html" %}
{% load static %}

{% block content %}

    <h2>Change Description</h2><br>

    <form action="/changeDescription/{{i.id}}/" method="post">
        {% csrf_token %}
        <textarea class="input" name="description" cols="30" rows="5">{{i.description}}</textarea>
        <input class="button" type="submit" value="Change">
    </form>
    
    <form action="/" method="get">
        <input class="bad-button" type="submit" value="Cancel">
    </form>

    
    
{%endblock%}