{% load static %}

<html>
    <link rel="stylesheet" href="{% static 'todoapp/index.css' %}">
    <link rel="script" href="{% static 'todoapp/index.js' %}">    
    <link rel="icon" href="data">

</html>
<body>

    <div class="resizable-content" id="popupForm">
        <h2>Change Description</h2><br>

        <form action="/changeDescriptionView/{{i.id}}/" method="post">
            {% csrf_token %}
            <textarea class="input" name="description" cols="30" rows="5">{{i.description}}</textarea>
            <!--input class="input" type="text" name="description" placeholder="New Title" required-->
            <input class="button" type="submit" value="Change">
            
            <!--button type="button" class="btn cancel" onclick="closeForm()">Close</button-->
        </form>
        
        <form action="/todoapp/" method="get">
            <input class="bad-button" type="submit" value="Cancel">
        </form>
    </div>
    
    
</body>
