{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'todoapp/index.css' %}">
    <link rel="icon" href="data:,">

</html>

<body>
    <div class="resizable-content">

        <div id="header">
            <h1>My To-do List </h1>
        </div>

        <div id="forms">
            <form action="/addTodoItem/" method="post">
                {% csrf_token %}

                <input class="input" type="text" name="title" placeholder="Title" required>
                <input class="input" type="text" name="description" placeholder="Description">
                <input class="button" type="submit" value="Add To-do Item">
            </form>     

            <form action="/deleteAllTodoItems/" method="post">
                {% csrf_token %}
                <input class="bad-button" type="submit" value="Delete All">
            </form>
        </div>
        
        <div>
            <ul>
                <!--for loop to iterate through the list of items we have in the all_items variables-->
                {% for i in all_items %} 
                <li>
                    <p>
                        <div class="item-name" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{i.name}}</div>
                        <br>
                        {{i.description}}

                    </p>
                    <form action="/deleteTodoItem/{{i.id}}/" method="post">
                        {% csrf_token %}
                        <input class="bad-button" type="submit" value="Delete">
                    </form>  
                    
                    <form action="/renameTodoTitle/{{i.id}}/" method="post">
                        {% csrf_token %}
                        <input class="input" type="text" name="title" placeholder="New Title" required>
                        <input class="button" type="submit" value="Rename Title">
                    </form> 
                </li>
                
                

                
                {% endfor %}
            </ul>
        </div>
        
    </div> 
</body>