{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'todoapp/index.css' %}">
    <link rel="script" href="{% static 'todoapp/index.js' %}">
    <link rel="icon" href="data">

</html>

<body>
    
    
    <div class="resizable-content">

        <div id="header">
            <h1>My To-do List </h1>

            <form action="/accounts/login/" method="get">
                {% csrf_token %}
                <input class="button" type="submit" value="Login">
            </form> 
            
            <form action="/accounts/logout/" method="get">
                {% csrf_token %}
                <input class="bad-button" type="submit" value="Logout">
            </form> 
        </div>

        <div id="forms">
            <form action="/addTodoItem/" method="post">
                {% csrf_token %}

                <input class="input" type="text" name="title" placeholder="Title" required>
                <input class="input" type="text" name="description" placeholder="Description">
                <p>Due Date</p>
                <input class="input" type="date" name="due_date" required>
                <p></p>
                <input class="button" type="submit" value="Add To-do Item">
            </form>     

            <form action="/deleteAllTodoItems/" method="post">
                {% csrf_token %}
                <input class="bad-button" type="submit" value="Delete All">
            </form>
        </div>
        
        <div>
            <ul>
                <!--for loop to iterate through the list of items we have in the all_items variables-->
                {% for i in all_items %} 
                <li>
                    <p>
                        <div class="item-title" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{i.title}}</div>
                        <br>
                        {{i.description}}
                        <br>
                        {{i.due_date}}

                    </p>
                    <form action="/deleteTodoItem/{{i.id}}/" method="post">
                        {% csrf_token %}
                        <input class="bad-button" type="submit" value="Delete">
                    </form>  

                    <div class="openBtn">
                        <!--button class="openButton" onclick="openForm()"><strong>Open Form</strong></button-->
                    </div>
                    
                    <div>
                        <form action="/renamePage/{{i.id}}" method="get">
                            {% csrf_token %}
                            <!--input class="input" type="text" name="title" placeholder="New Title" required-->
                            <input class="button" type="submit" value="Rename Title">
                            <!--button type="button" class="btn cancel" onclick="closeForm()">Close</button-->
                        </form> 
                    </div>
                    <div>
                        <form action="/changeDescriptionPage/{{i.id}}" method="get">
                            {% csrf_token %}
                            <!--input class="input" type="text" name="title" placeholder="New Title" required-->
                            <input class="button" type="submit" value="Change Description">
                            <!--button type="button" class="btn cancel" onclick="closeForm()">Close</button-->
                        </form> 
                    </div>
                    <div>
                        <form action="/changeDatePage/{{i.id}}" method="get">
                            {% csrf_token %}
                            <!--input class="input" type="text" name="title" placeholder="New Title" required-->
                            <input class="button" type="submit" value="Change Date">
                            <!--button type="button" class="btn cancel" onclick="closeForm()">Close</button-->
                        </form> 
                    </div>

                </li>
                
                

                
                {% endfor %}
            </ul>
        </div>
        
    </div> 
</body>