{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <div class="resizable-content" id="popupForm">
        <h2>Rename Title</h2><br>

        <form action="/renameItemTitle/{{i.id}}/" method="post">
            {% csrf_token %}
            <input class="input" type="text" name="title" placeholder="New Title" required>
            <input class="button" type="submit" value="Rename">
        </form>
        
        <form action="/todoapp/" method="get">
            <input class="bad-button" type="submit" value="Cancel">
        </form>
    </div>
{% endblock %}
    

